{% extends pack.base.template %}
{% load utils %}

{% block main %}
<div class="span-7 colborder">
	<h2>{{ page.name }}</h2>
	{% for file in page.files %}
		{{ file.render }}
	{% endfor %}
	{{ page.dic.description }}
</div>
<div class="span-8 colborder">
	{% if message %}
		<div class="notice">
			{{message|linebreaks}}
		</div>
	{% endif %}
	{%if form %}
		<form method="post" action=".">
				{{ form.as_p }}
			<input type="submit" class="submit" value="Send" />
		</form>
	{%endif%}
</div>
<div class="span-7 last">
	<h3>telephone</h3>
	<p>{{  portfolio.dic.telephone }}</p>
	
	<h3>email</h3>
	<p>{{  portfolio.dic.email|obfuscate }}</p>
	
	<h3>follow us</h3>
	<ul id="social" class="nav">
		{% for key,val in portfolio.dic.social|split %}
			<li><a href="{{ val }}" class="float icon24 {{ key }}">{{ key }}</a></li>
		{% endfor %}
	</ul>
</div>
{% endblock %}
