{% extends pack.base.template %}
{% load utils %}

{% block main %}
<div class="span-7 colborder">
	<h2>{{ page.name }}</h2>
	{% for file in page.files %}
		{{ file.render }}
	{% endfor %}
	{{ page.dic.description }}
</div>
<div class="span-8 colborder">
	{% if message %}
		<div class="notice">
			{{message|linebreaks}}
		</div>
	{% endif %}
	{%if form %}
		<form method="post" action=".">
			<p><label for="id_name">שם:</label> {{ form.name }}</p>
			<p><label for="id_email">אימייל:</label> {{ form.email }}</p>
			<p><label for="id_body">הודעה:</label> {{ form.body }}</p>
			{{ form.subject }}
			<input type="submit" class="submit" value="שלח" />
		</form>
	{%endif%}
</div>
<div class="span-7 last">
	{% if portfolio.dic.telephone %}
	<h3>טלפון</h3>
	<p>{{  portfolio.dic.telephone }}</p>
	{% endif %}
	
	<h3>אימייל</h3>
	<p>{{  portfolio.dic.email|obfuscate }}</p>

	{% if page.dic.social %}
	<h3>עקוב אחרינו</h3>
	<ul id="social" class="nav">
		{% for key,val in page.dic.social|split %}
			<li><a href="{{ val }}" class="float icon24 {{ key }}">{{ key }}</a></li>
		{% endfor %}
	</ul>
	{% endif %}
</div>
{% endblock %}
