/** Globals **/
body {background: url({{ pack.bg2.get_file }}) repeat; }

.container{background: url({{ pack.back.get_file }}) no-repeat; width: 994px;}

#navigation {width: 994px;}
#navigation a {background-color: #4D8EAA; opacity: 0.7; filter: alpha(opacity = 70);}
#navigation .n_2 {background-color: #fcadab; }
#navigation .n_3 {background-color: #4d8eaa; }
#navigation .n_4 {background-color: #847c60; }
#navigation .n_5 {background-color: #845930; }
#navigation .n_6 {background-color: #8e5c74; }
#navigation .n_7 {background-color: #003333; }
#navigation .n_8 {background-color: #660066; }
#navigation .n_9 {background-color: #009933; }

.clear {height: 0;}
table{ border-collapse: collapse !important; margin: 0 auto; width: 100%;}
ul li {list-style: none; color:fff}
ul {margin: 0;padding: 0;}

.button, input[type=submit], input[type=button], .submit-row input {
    background: white url(../admin_media/img/admin/nav-bg.gif) bottom repeat-x;
    padding: 3px;
    color: black;
    border: 1px solid #bbb;
    border-color: #ddd #aaa #aaa #ddd;
}

.button:active, input[type=submit]:active, input[type=button]:active {
    background-image: url(../admin_media/img/admin/nav-bg-reverse.gif);
    background-position: top;
}

.button.default, input[type=submit].default, .submit-row input.default {
    border: 2px solid #5b80b2;
    background: #7CA0C7 url(../admin_media/img/admin/default-bg.gif) bottom repeat-x;
    font-weight: bold;
    color: white;
    float: right;
}

.button.default:active, input[type=submit].default:active {
    background-image: url(../img/admin/default-bg-reverse.gif);
    background-position: top;
}

/** base.html - navigation **/
.nav li {display: inline;}
.nav {font-family: Helvetica,Arial,sans-serif; font-weight: bold; font-size: 100%; }
.nav a {padding: 5px 20px 5px 20px; text-decoration: none; color: #fff; margin:0 0 0 5px; line-height: 25px;}
.nav a:hover {color: #fff;}

.nav .first {padding-left: 10px;}
.rtl .nav .first {padding-right: 0;}

.float {float: left;}
.rtl .float {float: right;}

.active {text-decoration: none; color: black;}

/** base.html - Global Containers **/
#navigation {text-align: right;}
.rtl #navigation {text-align: left;}

#navigation .home {display: none;}
#header {height: 40px; }
#header .logo {position: relative; margin: 5px 20px; right: 0;}
#header .logo a {text-decoration:none; font-size: 35px; color: black;}

#content {
margin: 0 auto;
background: url({{ pack.stripes_v.get_file }}) repeat scroll 22px 0;
padding: 0 20px 0 11px;
width: 966px;
border-bottom: 4px solid #c9c6c4;
}

#content-2 {
background: #fff url({{ pack.stripes_h.get_file }}) repeat;
padding: 11px 0 0 0;
width: 966px; 
}
#content-3 {
margin: 0 auto;
background: #fff;
min-height: 330px;
border-top: 0 solid #EAEFF3;
padding: 1.5em 0 0 11px;
}

.stripes-h {background: url({{ pack.stripes_h.get_file }}); height: 19px;}
#footer {
	background:#C5B898;
	clear:both;
	color:#978D70;
	float:none;
	margin:0 auto;
	position:relative;
	text-align:center;
	top:1em;
	width:490px;
}
#footer a{color: #827a5d; text-decoration: none;}
#footer-powered {direction: ltr;}

/** site/item.html **/
.item_wrap img {width: 670px;}
.item-photo {display: block; width: 10px; height: 10px; margin-left: 5px; background: grey; border: 1px solid black; text-indent: -9999px; overflow:hidden; direction: ltr; text-decoration:none; float: left;}
.rtl .item-photo {float: right;}
.item-photo.active {background: none;}

/** site/catalogs.inc - Catalogs **/
.t_hcatalog h2 {display: none;}

.catalog .item-title, #content .catalog .item-tags {color: black; text-decoration: none; display: block; line-height: 2em; height: 2em; font-size: 1.5em; text-transform: capitalize;}

.catalog li {display: block; min-height: 150px; position: relative; margin-right: 10px;}
.rtl .catalog li {margin-right: 0; margin-left: 10px;}

.item-thumb img{max-width: 300px; max-height: 150px;}
.item-thumb {float: left; width: 300px; height: 150px; text-align: center; background: #f7f7f7; overflow: hidden;}
.rtl .item-thumb {float: right;}

#content .catalog {clear: both; margin: 0;}
.horizontal .item-title, .horizontal .item-sub-title, .horizontal .item-tags {width: 300px;}
.horizontal li {float: left; width: 310px;}
.rtl .horizontal li {float: right;}

.horizontal .item-title, .horizontal .item-sub-title {float: left; }
.rtl .horizontal .item-title, .rtl .horizontal .item-sub-title {float: right; }

.listdetails li {clear: left;}
.rtl .listdetails li {clear: right;}

.rss {display: block; clear: both;}
.item-sub-title {text-decoration: none; min-height: 4em; color: black;}

.last {margin: 0 !important;}

/** site/home.html **/
.banner {display: block; width: 310px; height: 310px; text-indent: -1000em;overflow:hidden; direction: ltr;}
.rtl .banner {background-position: 10px 0;}

.banner-text {height: 230px; line-height: 310px; vertical-align: middle;}

/** site/contact.html **/
textarea, input {width: 240px;}
label {display: block;}
.icon24 {display: block; width: 24px; height: 24px; text-indent: -1000em; overflow:hidden; direction: ltr;}
#social {margin: 0;}
#social a {padding: 0 0.1em;}

/** site/home.html **/
.page_home h3 {display:none;} /** in case home template is not being used as home **/
.t_home .item-title, .t_home .item-sub-title {text-align: center; color: white; background: #222; opacity: 0.6; filter: alpha(opacity = 60); float:none; display: block; position: absolute; bottom: 0; min-height: 0;}
.t_home .item-title {bottom: 1em; line-height: 1.5em; height: 1.5em; padding-top: 4px;}

.blogger {background: url('{{ pack.blogger.get_file }}') center 0 no-repeat;}
.delicious {background: url('{{ pack.delicious.get_file }}') center 0 no-repeat;}
.digg {background: url('{{ pack.digg.get_file }}') center 0 no-repeat;}
.ebay {background: url('{{ pack.ebay.get_file }}') center 0 no-repeat;}
.facebook {background: url('{{ pack.facebook.get_file }}') center 0 no-repeat;}
.feed {background: url('{{ pack.feed.get_file }}') center 0 no-repeat;}
.flickr {background: url('{{ pack.flickr.get_file }}') center 0 no-repeat;}
.friendfeed {background: url('{{ pack.friendfeed.get_file }}') center 0 no-repeat;}
.friendster {background: url('{{ pack.friendster.get_file }}') center 0 no-repeat;}
.furl {background: url('{{ pack.furl.get_file }}') center 0 no-repeat;}
.google {background: url('{{ pack.google.get_file }}') center 0 no-repeat;}
.lastfm {background: url('{{ pack.lastfm.get_file }}') center 0 no-repeat;}
.linkedin {background: url('{{ pack.linkedin.get_file }}') center 0 no-repeat;}
.livejournal {background: url('{{ pack.livejournal.get_file }}') center 0 no-repeat;}
.magnolia {background: url('{{ pack.magnolia.get_file }}') center 0 no-repeat;}
.mixx {background: url('{{ pack.mixx.get_file }}') center 0 no-repeat;}
.myspace {background: url('{{ pack.myspace.get_file }}') center 0 no-repeat;}
.netvibes {background: url('{{ pack.netvibes.get_file }}') center 0 no-repeat;}
.newsvine {background: url('{{ pack.newsvine.get_file }}') center 0 no-repeat;}
.picasa {background: url('{{ pack.picasa.get_file }}') center 0 no-repeat;}
.pownce {background: url('{{ pack.pownce.get_file }}') center 0 no-repeat;}
.reddit {background: url('{{ pack.reddit.get_file }}') center 0 no-repeat;}
.stumbleupon {background: url('{{ pack.stumbleupon.get_file }}') center 0 no-repeat;}
.technorati {background: url('{{ pack.technorati.get_file }}') center 0 no-repeat;}
.twitter {background: url('{{ pack.twitter.get_file }}') center 0 no-repeat;}
.vimeo {background: url('{{ pack.vimeo.get_file }}') center 0 no-repeat;}
.webshots {background: url('{{ pack.webshots.get_file }}') center 0 no-repeat;}
.wordpress {background: url('{{ pack.wordpress.get_file }}') center 0 no-repeat;}
.yelp {background: url('{{ pack.yelp.get_file }}') center 0 no-repeat;}
.youtube {background: url('{{ pack.youtube.get_file }}') center 0 no-repeat;}