{% extends pack.base.template %}
{% load markup %}
{% block head %}
	{{ block.super }}
	<style type="text/css">
		{% if files.banner %}.banner {background:url({{ files.banner.get_file }}) no-repeat;}{% endif %}}
	</style>
{% endblock %}

{% block main %}
<div class="span-24 last">
	{{ page.dic.moto }}
</div>

<div class="span-24">
	{% with "horizontal" as catalog_class %}
		{% include "site/catalog.inc.html" %}
	{% endwith %}
</div>
{% endblock %}

{% block beforeBodyEnd %}
	{{ block.super }}
	<script type="text/javascript" src="{{MEDIA_URL}}portfolios/js/cufon-yui.js"></script>
	<script type="text/javascript" src="{{ pack.cufon_font.get_file }}"></script>
	<script type="text/javascript">
		Cufon.replace('.item-title', {'text-shadow': '1px 1px #000', 'fontSize': '24px'});
		Cufon.now();
	</script>
{% endblock %}